body.post-new-php.post-type-wdpsn_note_types ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li.current,
body.post-new-php.post-type-wdpsn_note_tag ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li.current,
body.post-new-php.post-type-wdpsn_note_types ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li.current a,
body.post-new-php.post-type-wdpsn_note_tag ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li.current a {
	color: rgba(240,245,250,0.7);
	font-weight: normal;
}

body.post-new-php.post-type-wdpsn_note_types ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li:nth-child(3),
body.post-new-php.post-type-wdpsn_note_types ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li:nth-child(3) a {
	color: #fff;
	font-weight: 600;
}

body.post-new-php.post-type-wdpsn_note_tag ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li:nth-child(4),
body.post-new-php.post-type-wdpsn_note_tag ul#adminmenu li#toplevel_page_wdpsn ul.wp-submenu li:nth-child(4) a {
	color: #fff;
	font-weight: 600;
}

body.post-new-php.post-type-wdpsn_note_types:not(.wdpsn-is-premium) h1.wp-heading-inline + a.page-title-action,
body.post-php.post-type-wdpsn_note_types:not(.wdpsn-is-premium) h1.wp-heading-inline + a.page-title-action,
body.edit-php.post-type-wdpsn_note_types:not(.wdpsn-is-premium) h1.wp-heading-inline + a.page-title-action {
	display: none;
}

table.wp-list-table .column-wdpsn-holder {
	width: 100px;
	position: relative;
}

body:not(.rtl) table.wp-list-table .column-wdpsn-holder {
	text-align: left;
}

body.rtl table.wp-list-table .column-wdpsn-holder {
	text-align: right;
}

table.wp-list-table .column-wdpsn-holder .column-comments {
	width: 100%;
	padding: 0;
	font-size: 0;
}

body:not(.rtl) table.wp-list-table .column-wdpsn-holder .column-comments .wdpsn-holder-element {
	text-align: left;
}

body.rtl table.wp-list-table .column-wdpsn-holder .column-comments .wdpsn-holder-element {
	text-align: right;
}

table.wp-list-table .column-wdpsn-holder .column-comments .post-com-count-approved:after {
	display: none;
}

body:not(.rtl) table.wp-list-table .column-wdpsn-holder .column-comments .post-com-count-pending {
	left: -4px;
}

body.rtl table.wp-list-table .column-wdpsn-holder .column-comments .post-com-count-pending {
	right: -4px;
}

table.wp-list-table .column-wdpsn-holder .column-comments .post-com-count-approved,
table.wp-list-table .column-wdpsn-holder .column-comments .post-com-count-pending {
	cursor: pointer;
}

#wpadminbar .wdpsn-holder-element-loader,
.wdpsn-holder-element-loader {
	width: 16px;
	height: 16px;
	top: 10px;
	position: absolute;
	border-radius: 100%;
	border: 2px solid #e5e5e5;
	-webkit-animation: wdpsn_loading_spin 0.75s infinite linear;
	animation: wdpsn_loading_spin 0.75s infinite linear;
}

body:not(.rtl) #wpadminbar .wdpsn-holder-element-loader,
body:not(.rtl) .wdpsn-holder-element-loader {
	left: 10px;
}

body.rtl #wpadminbar .wdpsn-holder-element-loader,
body.rtl .wdpsn-holder-element-loader {
	right: 10px;
}

#wpadminbar .wdpsn-holder-element-loader:before,
.wdpsn-holder-element-loader:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: -3px;
	background-color: #fff;
}

body:not(.rtl) #wpadminbar .wdpsn-holder-element-loader:before,
body:not(.rtl) .wdpsn-holder-element-loader:before {
	left: 50%;
	margin-left: -3px;
}

body.rtl #wpadminbar .wdpsn-holder-element-loader:before,
body.rtl .wdpsn-holder-element-loader:before {
	right: 50%;
	margin-right: -3px;
}

.striped > tbody > :nth-child(odd ) .wdpsn-holder-element-loader:before {
	background-color: #f9f9f9;
}

#wpadminbar #wp-admin-bar-wdpsn-holder-element {
	min-width: 32px;
}

#wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-loader {
	border-color: #9ea3a8;
	width: 8px;
	height: 8px;
}

#wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-loader:before {
	background-color: #23282d;
	width: 4px;
	height: 4px;
	top: -2px;
}

body:not(.rtl) #wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-loader:before {
	margin-left: -2px;
}

body.rtl #wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-loader:before {
	margin-right: -2px;
}

#wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-notes-counter {
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-width: 7px;
	height: 17px;
	border-radius: 11px;
	background: #ca4a1f;
	color: #fff;
	font-size: 9px;
	line-height: 17px;
	text-align: center;
}

body:not(.rtl) #wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-notes-counter {
	left: 0;
	padding: 0 5px;
	margin: 8px 0 0 5px;
}

body.rtl #wpadminbar #wp-admin-bar-wdpsn-holder-element .wdpsn-holder-element-notes-counter {
	right: 0;
	padding: 0 5px;
	margin: 8px 5px 0;
}

.media-modal label.setting.wdpsn-holder-element-wrapper {
	position: relative;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .name {
	padding-top: 11px;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .value {
	position: relative;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .value {
	text-align: left;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .value {
	text-align: right;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .value .column-comments {
	text-align: left;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .value .column-comments {
	text-align: right;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .value .column-comments .post-com-count.post-com-count-approved:after {
	display: none;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .value span[aria-hidden="true"] {
	padding-top: 3px;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .value span[aria-hidden="true"] {
	text-align: left;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .value span[aria-hidden="true"] {
	text-align: right;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element-loader {
	min-width: 0;
	margin: 0;
	font-size: 0;
	min-height: 0;
	padding: 0;
	line-height: 1;
	float: none;
	border-color: #d4d4d4;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element-loader {
	left: 0;
	text-align: left;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element-loader {
	right: 0;
	text-align: right;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element-loader:before {
	background-color: #f3f3f3;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element {
	min-width: 0;
	min-height: 0;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span {
	float: none;
	min-width: 0;
	min-height: 0;
	padding: 0;
	margin: 0;
	height: auto;
	color: #fff;
	line-height: 1;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span {
	text-align: left;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span {
	text-align: right;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span.comment-count-approved {
	padding: 5px 8px 6px 8px;
	border-radius: 5px;
	font-size: 11px;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span.post-com-count-pending {
	border-radius: 10px;
	padding: 4px;
	border-color: #f3f3f3;
	font-size: 9px;
	position: relative;
	top: -5px;
	padding: 0 5px;
	min-width: 7px;
	height: 17px;
	line-height: 17px;
	text-align: center !important;
}

body:not(.rtl) .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span.post-com-count-pending {
	left: -7px;
}

body.rtl .media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span.post-com-count-pending {
	right: -7px;
}

.media-modal label.setting.wdpsn-holder-element-wrapper .wdpsn-holder-element span.post-com-count-pending .comment-count-pending {
	font-size: 9px;
}

body.folded .wdpsn-note-popup {
	width: calc(100% - 36px);
}

body:not(.rtl) body.folded .wdpsn-note-popup {
	left: 36px;
}

body.rtl body.folded .wdpsn-note-popup {
	right: 36px;
}

body:not(.folded) .wdpsn-note-popup {
	width: calc(100% - 160px);
}

body:not(.rtl) body:not(.folded) .wdpsn-note-popup {
	left: 160px;
}

body.rtl body:not(.folded) .wdpsn-note-popup {
	right: 160px;
}

body.modal-open .wdpsn-note-popup {
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	width: auto;
	height: auto;
}

.wdpsn-note-popup {
	position: fixed;
	height: calc(100% - 32px);
	top: 32px;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	visibility: hidden;
	z-index: -99999;
	font-size: 13px;
}

.wdpsn-note-popup,
.wdpsn-note-popup * {
	box-sizing: border-box;
}

.wdpsn-note-popup__background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(241,241,241,0.55);
}

body:not(.rtl) .wdpsn-note-popup__background {
	left: 0;
}

body.rtl .wdpsn-note-popup__background {
	right: 0;
}

.wdpsn-note-popup__container {
	position: relative;
	width: 700px;
	min-height: 186px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	max-height: calc(100vh - 92px);
}

.wdpsn-note-popup__container h1 {
	padding: 0;
	margin: 0 0 8px 0;
	font-weight: 700;
	line-height: 1;
	font-size: 23px;
}

.wdpsn-note-popup__container h2 {
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	color: #0073aa;
	font-weight: 400;
	line-height: 1;
}

.wdpsn-note-popup__container p {
	font-size: 13px;
	line-height: 1.5em;
}

.wdpsn-note-popup__container__wait-content {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	top: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: #fff;
	z-index: 30;
}

body:not(.rtl) .wdpsn-note-popup__container__wait-content {
	left: 0;
}

body.rtl .wdpsn-note-popup__container__wait-content {
	right: 0;
}

.wdpsn-note-popup__container__wait-content__loader {
	width: 16px;
	height: 16px;
	top: 30px;
	position: absolute;
	border-radius: 100%;
	border: 2px solid #e5e5e5;
	-webkit-animation: wdpsn_loading_spin 0.75s infinite linear;
	animation: wdpsn_loading_spin 0.75s infinite linear;
}

body:not(.rtl) .wdpsn-note-popup__container__wait-content__loader {
	right: 30px;
}

body.rtl .wdpsn-note-popup__container__wait-content__loader {
	left: 30px;
}

.wdpsn-note-popup__container__wait-content__loader:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: -3px;
	background: #fff;
}

body:not(.rtl) .wdpsn-note-popup__container__wait-content__loader:before {
	left: 50%;
	margin-left: -3px;
}

body.rtl .wdpsn-note-popup__container__wait-content__loader:before {
	right: 50%;
	margin-right: -3px;
}

.wdpsn-note-popup__container__wait-content__middle-holder {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.wdpsn-note-popup__container__content {
	position: relative;
	overflow: scroll;
	padding: 30px;
}

.wdpsn-note-popup__container__content .notice {
	margin-left: 0;
	margin-right: 0;
}

.wdpsn-note-popup__container__content .notice p {
	margin: 0;
	padding: 8px 0;
}

.wdpsn-note-popup__container__content__post-details {
	margin: 10px 0 30px 0;
}

.wdpsn-note-popup__container__content__post-details + .notice {
	margin-top: -20px;
}

.wdpsn-note-popup__container__content__note-editor {
	position: relative;
	z-index: 15;
}

.wdpsn-note-popup__container__content__note-editor__content-field {
	margin-top: 40px;
}

.wdpsn-note-popup__container__content__note-editor__field {
	position: relative;
	z-index: 15;
	padding-bottom: 30px;
}

.wdpsn-note-popup__container__content__note-editor__field label {
	font-weight: 700;
	display: block;
	margin-bottom: 10px;
}

.wdpsn-note-popup__container__content__note-editor__field textarea {
	width: 100%;
	min-height: 150px;
}

.wdpsn-note-popup__container__content__note-editor__field select {
	padding: 5px;
	margin: 0;
	line-height: 36px;
	height: 36px;
	width: 100%;
	display: block;
}

.wdpsn-note-popup__container__content__note-editor__field select + button.button.button-secondary {
	margin-top: 5px;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no {
	cursor: pointer;
	white-space: nowrap;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="yes"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__no-text,
.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="no"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__yes-text {
	display: none;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no__handle,
.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="yes"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__yes-text,
.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="no"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__no-text {
	display: inline-block;
	vertical-align: middle;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no__handle {
	position: relative;
	width: 50px;
	height: 30px;
	overflow: hidden;
	transition: background-color 0.2s, box-shadow 0.2s;
	border-radius: 15px;
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle {
	margin-right: 15px;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle {
	margin-left: 15px;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: 3px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 3px 10px rgba(49,49,49,0.1);
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	transition: left 0.2s;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	transition: right 0.2s;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="yes"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle {
	background: #0185ba;
	box-shadow: inset 0px 3px 10px #016d98;
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="yes"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	left: 3px;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="yes"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	right: 3px;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="no"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle {
	background: #f0f0f0;
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="no"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	left: 22px;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__yes-no[data-value="no"] > .wdpsn-note-popup__container__content__note-editor__field__yes-no__handle:before {
	right: 22px;
}

.wdpsn-note-popup__container__content__note-editor__field__yes-no__yes-text,
.wdpsn-note-popup__container__content__note-editor__field__yes-no__no-text {
	width: calc(100% - 65px);
	white-space: normal;
}

.wdpsn-note-popup__container__content__note-editor__field__tags {
	margin: 0 0 13px 0;
	font-size: 0;
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag {
	margin: 2px 4px 2px 0;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag {
	margin: 2px 0 2px 4px;
}

.wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag:not(.wdpsn-note-tag-preview-only) {
	cursor: pointer;
}

.wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag:not(.wdpsn-note-tag-preview-only):after {
	content: '\00d7';
	display: inline-block;
	vertical-align: top;
	opacity: 0.75;
	line-height: 10px;
}

body:not(.rtl) .wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag:not(.wdpsn-note-tag-preview-only):after {
	margin: 0 0 0 6px;
}

body.rtl .wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-note-tag:not(.wdpsn-note-tag-preview-only):after {
	margin: 0 6px 0 0;
}

.wdpsn-note-popup__container__content__note-editor__field__tags .wdpsn-data-deleted {
	display: none;
}

.wdpsn-note-popup__container__content__note-editor__field .wp-editor-wrap {
	margin-top: -34px;
}

.wdpsn-note-popup__container__content__note-editor__field .mce-top-part::before {
	display: none;
}

.wdpsn-note-popup__container__content__note-editor__field .mce-path-item {
	text-transform: none;
}

.wdpsn-note-popup__container__content__note-editor__field .mce-branding {
	font-size: 0;
}

.wdpsn-note-popup__container__content__note-editor__field .wp-switch-editor:hover {
	color: #666;
}

.wdpsn-note-popup__container__content__heading h1 {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.wdpsn-note-popup__container__content .wdpsn-note-wrapper:last-child .wdpsn-note-history {
	margin-bottom: 0;
}

.wdpsn-note-popup__container:before {
	content: '';
	position: absolute;
	bottom: -75px;
	width: 150px;
	height: 150px;
	background: #fafdff;
	border-radius: 100%;
	border: 10px solid #fff;
	box-sizing: border-box;
}

body:not(.rtl) .wdpsn-note-popup__container:before {
	right: -75px;
}

body.rtl .wdpsn-note-popup__container:before {
	left: -75px;
}

.wdpsn-note-popup__container:after {
	content: '';
	position: absolute;
	bottom: -30px;
	width: 60px;
	height: 60px;
	background: rgba(0,115,170,0.11);
	border-radius: 100%;
}

body:not(.rtl) .wdpsn-note-popup__container:after {
	right: -30px;
}

body.rtl .wdpsn-note-popup__container:after {
	left: -30px;
}

.wdpsn-note-popup[data-loader-visible="yes"] .wdpsn-note-popup__container:before,
.wdpsn-note-popup[data-loader-visible="yes"] .wdpsn-note-popup__container:after {
	z-index: 35;
}

.wdpsn-note-popup[data-loader-visible="no"] .wdpsn-note-popup__container:before,
.wdpsn-note-popup[data-loader-visible="no"] .wdpsn-note-popup__container:after {
	z-index: 15;
}

.wdpsn-note-popup__close {
	position: absolute;
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 26px;
	height: 26px;
	border: 1px solid #e5e5e5;
	color: #d9d9d9;
	top: 30px;
	display: block;
	background: #fff;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 100%;
	transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

body:not(.rtl) .wdpsn-note-popup__close {
	right: 30px;
}

body.rtl .wdpsn-note-popup__close {
	left: 30px;
}

.wdpsn-note-popup__close:hover {
	color: #de392d;
	background: #f9dad7;
	border-color: #f6c9c6;
}

.wdpsn-note-popup__cancel-button.button.button-secondary {
	display: inline-block;
	vertical-align: middle;
}

body:not(.rtl) .wdpsn-note-popup__cancel-button.button.button-secondary {
	margin-left: 10px;
}

body.rtl .wdpsn-note-popup__cancel-button.button.button-secondary {
	margin-right: 10px;
}

@-webkit-keyframes wdpsn_loading_spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes wdpsn_loading_spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-post-notes-summary-note-holder .column-comments {
	text-align: left;
}

body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-post-notes-summary-note-holder .column-comments {
	text-align: right;
}

#poststuff .wdpsn-post-notes-summary__wrapper[data-mode="short"] .wdpsn-post-notes-summary-preview {
	display: none;
}

#poststuff .wdpsn-post-notes-summary__wrapper[data-mode="short"] .wdpsn-post-notes-summary__more-less {
	bottom: 11px;
}

#poststuff .wdpsn-post-notes-summary__wrapper[data-mode="long"] .wdpsn-post-notes-summary-note-holder {
	display: none;
}

#poststuff .wdpsn-post-notes-summary__wrapper[data-mode="long"] .wdpsn-post-notes-summary__more-less {
	bottom: 13px;
}

#poststuff .wdpsn-post-notes-summary__wrapper .wdpsn-post-notes-summary-messages .notice {
	margin-left: 0;
	margin-right: 0;
}

#poststuff .wdpsn-post-notes-summary__wrapper .wdpsn-post-notes-summary-messages .notice p {
	margin: 0;
	padding: 8px 0;
}

#poststuff .wdpsn-post-notes-summary__wrapper .wdpsn-post-notes-summary-messages .notice:first-child {
	margin-top: 12px;
}

#poststuff .wdpsn-post-notes-summary__more-less {
	position: absolute;
	font-size: 0;
	cursor: pointer;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary__more-less {
	right: 15px;
}

body.rtl #poststuff .wdpsn-post-notes-summary__more-less {
	left: 15px;
}

#poststuff .wdpsn-post-notes-summary__more-less__dot {
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: #ddd;
	display: inline-block;
	transition: background-color 0.2s;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary__more-less__dot {
	margin-left: 3px;
}

body.rtl #poststuff .wdpsn-post-notes-summary__more-less__dot {
	margin-right: 3px;
}

#poststuff .wdpsn-post-notes-summary__more-less:hover .wdpsn-post-notes-summary__more-less__dot {
	background: #aaa;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-empty-placeholder {
	margin: 10px 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-empty-placeholder:last-child {
	margin-bottom: 0;
}

#poststuff .wdpsn-post-notes-summary > .inside {
	margin: 6px 0 0;
	padding: 0 12px 12px;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-holder-element {
	display: inline-block;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-holder-element {
	text-align: left;
}

body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-holder-element {
	text-align: right;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-holder-element .post-com-count-approved:after {
	display: none;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-holder-element .post-com-count-pending {
	left: -7px;
}

body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-holder-element .post-com-count-pending {
	right: -7px;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-holder-element .post-com-count-approved,
#poststuff .wdpsn-post-notes-summary .wdpsn-holder-element .post-com-count-pending {
	cursor: pointer;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-wrapper:last-child .wdpsn-note-history:last-child {
	margin-bottom: 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-wrapper:last-child .wdpsn-note-history .wdpsn-note-history__record:last-child {
	padding-bottom: 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-type,
#poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-options {
	display: block;
	width: 100%;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-type,
body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-options {
	text-align: left;
}

body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-type,
body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-options {
	text-align: right;
}

body:not(.rtl) #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-options span {
	margin-left: 0;
	margin-right: 7px;
}

body.rtl #poststuff .wdpsn-post-notes-summary .wdpsn-note-container__footer__note-options span {
	margin-right: 0;
	margin-left: 7px;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-history {
	margin: 5px 0 10px 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-history__record {
	padding: 15px 0 10px 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-history__record__date {
	display: block;
	line-height: 1;
	margin-bottom: 5px;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-history__record__content {
	width: 100%;
	padding: 0;
}

#poststuff .wdpsn-post-notes-summary .wdpsn-note-history__record__content p {
	line-height: 1.6em;
}

#poststuff .wdpsn-post-notes-summary__wrapper[data-availability-confirmed="no"] .wdpsn-post-notes-summary__more-less {
	display: none;
}

.wdpsn-note-container {
	border-width: 1px;
	border-style: solid;
	margin-top: 15px;
	border-radius: 3px;
	position: relative;
	z-index: 15;
}

.wdpsn-note-container--wrapped {
	border-bottom: none;
}

.wdpsn-note-container__content {
	padding: 13px;
	position: relative;
	z-index: 2;
}

.wdpsn-note-container__content__wrapper p,
.wdpsn-note-container__content__wrapper li {
	margin: 0;
	line-height: 1.5;
	font-size: 13px;
}

.wdpsn-note-container__content__wrapper p + p,
.wdpsn-note-container__content__wrapper li + p {
	margin-top: 10px;
}

.wdpsn-note-container__content__wrapper ul,
.wdpsn-note-container__content__wrapper ol {
	line-height: 1.5;
	font-size: 13px;
}

body:not(.rtl) .wdpsn-note-container__content__wrapper ul,
body:not(.rtl) .wdpsn-note-container__content__wrapper ol {
	margin: 0 0 0 16px !important;
}

body.rtl .wdpsn-note-container__content__wrapper ul,
body.rtl .wdpsn-note-container__content__wrapper ol {
	margin: 0 16px 0 0 !important;
}

.wdpsn-note-container__content__wrapper ul li {
	list-style-type: disc;
}

.wdpsn-note-container__content__wrapper ol li {
	list-style-type: decimal;
}

body:not(.rtl) .wdpsn-note-container__content__wrapper blockquote {
	margin: 10px 0 10px 10px;
}

body.rtl .wdpsn-note-container__content__wrapper blockquote {
	margin: 10px 10px 10px 0;
}

.wdpsn-note-container__content__tags {
	font-size: 0;
}

body:not(.rtl) .wdpsn-note-container__content__tags {
	margin: 10px 0 0 -2px;
}

body.rtl .wdpsn-note-container__content__tags {
	margin: 10px -2px 0 0;
}

.wdpsn-note-container__content__tags:empty {
	display: none;
}

.wdpsn-note-container__content__tags .wdpsn-note-tag {
	margin: 1px 2px;
}

.wdpsn-note-container--alert {
	border-color: #f8e7be;
	background: #fcf5e3;
	color: #bd8c14;
}

.wdpsn-note-container--alert .wdpsn-note-container__content {
	box-shadow: 0 5px 15px 0 rgba(248,230,186,0.25);
}

.wdpsn-note-container--alert .wdpsn-note-container__footer {
	background: #f8e7be;
	border-bottom: 1px solid #f5dda3;
}

.wdpsn-note-container--error {
	border-color: #f7c0c1;
	background: #fbe4e4;
	color: #d01b1f;
}

.wdpsn-note-container--error .wdpsn-note-container__content {
	box-shadow: 0 5px 15px 0 rgba(246,187,189,0.25);
}

.wdpsn-note-container--error .wdpsn-note-container__footer {
	background: #f7c0c1;
	border-bottom: 1px solid #f3a5a6;
}

.wdpsn-note-container--info {
	border-color: #c5d8f2;
	background: #e6eef9;
	color: #6597dc;
}

.wdpsn-note-container--info .wdpsn-note-container__content {
	box-shadow: 0 5px 15px 0 rgba(193,213,241,0.25);
}

.wdpsn-note-container--info .wdpsn-note-container__footer {
	background: #c5d8f2;
	border-bottom: 1px solid #acc7ec;
}

.wdpsn-note-container--success {
	border-color: #dee5d1;
	background: #f1f4eb;
	color: #8da662;
}

.wdpsn-note-container--success .wdpsn-note-container__content {
	box-shadow: 0 5px 15px 0 rgba(220,227,206,0.25);
}

.wdpsn-note-container--success .wdpsn-note-container__footer {
	background: #dee5d1;
	border-bottom: 1px solid #d0dabe;
}

.wdpsn-note-container--deleted {
	border-color: #e3e3e3;
	background: #f7f7f7;
	color: #bbb;
}

.wdpsn-note-container--deleted .wdpsn-note-container__content {
	box-shadow: 0 5px 15px 0 rgba(217,217,217,0.25);
}

.wdpsn-note-container--deleted .wdpsn-note-container__footer {
	background: #f0f0f0;
	border-bottom: 1px solid #e3e3e3;
}

.wdpsn-note-container--go-premium {
	margin: 0 0 30px 0;
	border-color: #dee5d1;
	background: #f1f4eb;
	color: #8da662;
	box-shadow: 0 5px 15px 0 rgba(220,227,206,0.25);
}

body:not(.rtl) .wdpsn-note-container--go-premium {
	border-left: 3px solid #6d9026;
}

body.rtl .wdpsn-note-container--go-premium {
	border-right: 3px solid #6d9026;
}

.wdpsn-note-container--go-premium h5 {
	margin-top: 0;
	font-size: 14px;
	margin-bottom: 10px;
	color: #6d9026;
}

.wdpsn-note-container__footer {
	padding: 8px 13px;
	margin: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 0;
	position: relative;
}

.wdpsn-note-container__footer__note-type,
.wdpsn-note-container__footer__note-options span {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
}

.wdpsn-note-container__footer__note-type,
.wdpsn-note-container__footer__note-options {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

body:not(.rtl) .wdpsn-note-container__footer__note-options {
	text-align: right;
}

body.rtl .wdpsn-note-container__footer__note-options {
	text-align: left;
}

.wdpsn-note-container__footer__note-options span {
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
	cursor: pointer;
}

body:not(.rtl) .wdpsn-note-container__footer__note-options span {
	margin-left: 7px;
}

body.rtl .wdpsn-note-container__footer__note-options span {
	margin-right: 7px;
}

.wdpsn-note-container__footer__note-options span:hover {
	text-decoration: none;
}

.wdpsn-note-tag {
	display: inline-block;
	vertical-align: middle;
	background: #f00;
	color: #fff;
	padding: 5px 6px;
	border-radius: 3px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	margin: -3px 0 0 0;
	line-height: 1;
}

.wp-list-table .wdpsn-tag-preview.column-wdpsn-tag-preview .wdpsn-note-tag {
	margin: 3px 0 4px 0;
}

.wdpsn-note-history {
	margin: 10px 0 30px 0;
	position: relative;
	z-index: 10;
}

.wdpsn-note-history__record {
	padding: 0;
	font-size: 0;
}

.wdpsn-note-history__record:not(:last-child) {
	border-bottom: 1px solid #eaeaea;
}

.wdpsn-note-history__record__date,
.wdpsn-note-history__record__content {
	display: inline-block;
	vertical-align: middle;
	line-height: 22px;
}

.wdpsn-note-history__record__date {
	color: #ccc;
	text-transform: uppercase;
	font-size: 11px;
	width: 100px;
	font-weight: 600;
}

.wdpsn-note-history__record__content {
	font-size: 13px;
	width: calc(100% - 100px);
	padding: 10px 0;
}

.wdpsn-note-history__record__content p {
	line-height: 1;
	margin: 0;
}

.wdpsn-data-deleted {
	text-decoration: line-through;
	opacity: 0.5;
}

.wdpsn-empty-placeholder {
	padding: 11px 13px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 35px;
	background: #f9f9f9;
	border-color: #eee;
}

.wdpsn-empty-placeholder:last-child {
	margin-bottom: 0;
}

.wdpsn-empty-placeholder p {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	color: #bfbfbf;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes th#note_id {
	width: 6.5em;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes th#note {
	width: 50%;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes .wdpsn-empty-placeholder p {
	margin: 0;
	line-height: 1;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container {
	margin-top: 0;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-history {
	margin-bottom: 0;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note ul,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note ol,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note li {
	margin: 0;
	line-height: 1.5;
	font-size: 13px;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note p + p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note ul + p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note ol + p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note li + p {
	margin-top: 10px;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--alert p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--alert li {
	color: #bd8c14;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--error p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--error li {
	color: #d01b1f;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--info p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--info li {
	color: #6597dc;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--success p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--success li {
	color: #8da662;
}

table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--deleted p,
table.wp-list-table.super-notes_page_wdpsn-all-notes td.note.column-note .wdpsn-note-container--deleted li {
	color: #bbb;
}

body.toplevel_page_wdpsn {
	background: #fff;
}

body.toplevel_page_wdpsn:not(.rtl) #wpcontent {
	padding-left: 0;
}

body.toplevel_page_wdpsn:not(.rtl) #wpcontent #fs_connect.wrap {
	margin-left: 20px;
}

body.toplevel_page_wdpsn.rtl #wpcontent {
	padding-right: 0;
}

body.toplevel_page_wdpsn.rtl #wpcontent #fs_connect.wrap {
	margin-right: 20px;
}

body.toplevel_page_wdpsn .fs-notice .fs-notice-body {
	font-size: 13px;
}

.wdpsn-welcome-page {
	margin: 0;
	background: #fff;
}

.wdpsn-welcome-page__heading {
	height: 5px;
	background: #0073aa;
}

.wdpsn-welcome-page__container {
	position: relative;
	font-size: 0;
	padding: 50px 50px 30px 50px;
}

.wdpsn-welcome-page__container__content,
.wdpsn-welcome-page__container__sidebar {
	display: inline-block;
	vertical-align: top;
}

.wdpsn-welcome-page__container__content {
	width: calc(100% - 400px);
}

body:not(.rtl) .wdpsn-welcome-page__container__content {
	margin-right: 50px;
}

body.rtl .wdpsn-welcome-page__container__content {
	margin-left: 50px;
}

.wdpsn-welcome-page__container__content h1,
.wdpsn-welcome-page__container__content h2,
.wdpsn-welcome-page__container__content img,
.wdpsn-welcome-page__container__content > p {
	margin: 0 0 30px 0;
	padding: 0;
}

.wdpsn-welcome-page__container__content h1:last-child,
.wdpsn-welcome-page__container__content h2:last-child,
.wdpsn-welcome-page__container__content img:last-child,
.wdpsn-welcome-page__container__content > p:last-child {
	margin-bottom: 0;
}

.wdpsn-welcome-page__container__content h1 {
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.wdpsn-welcome-page__container__content h2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 50px;
	border-top: 2px solid #f7f7f7;
}

.wdpsn-welcome-page__container__content h2 a {
	text-decoration: none;
	display: inline-block;
	padding-top: 70px;
	outline: none;
	box-shadow: none;
}

body:not(.rtl) .wdpsn-welcome-page__container__content h2 a {
	margin-right: 10px;
}

body.rtl .wdpsn-welcome-page__container__content h2 a {
	margin-left: 10px;
}

.wdpsn-welcome-page__container__content > p,
.wdpsn-welcome-page__container__content li {
	font-size: 16px;
	line-height: 1.5;
}

.wdpsn-welcome-page__container__content ul li {
	list-style-type: disc;
	margin: 0 0 30px 0;
}

body:not(.rtl) .wdpsn-welcome-page__container__content ul li {
	margin-left: 1em;
}

body.rtl .wdpsn-welcome-page__container__content ul li {
	margin-right: 1em;
}

.wdpsn-welcome-page__container__content ul li img {
	margin-top: 30px;
	display: block;
}

.wdpsn-welcome-page__container__content img {
	max-width: 100%;
}

.wdpsn-welcome-page__container__content img + h2 {
	margin-top: 20px;
}

.wdpsn-welcome-page__container__content img.wdpsn-welcome-page__container__content__icon {
	width: 64px;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
}

.wdpsn-welcome-page ul.wdpsn-welcome-page__container__content__table-of-contents {
	background: #f7f7f7;
	padding: 20px 35px;
	display: inline-block;
}

.wdpsn-welcome-page ul.wdpsn-welcome-page__container__content__table-of-contents li {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
	line-height: 1;
	list-style-type: none;
	margin: 0 !important;
	white-space: nowrap;
}

.wdpsn-welcome-page ul.wdpsn-welcome-page__container__content__table-of-contents li:last-child {
	border-bottom: none;
}

.wdpsn-welcome-page__container__content .wdpsn-note-container {
	margin-bottom: 30px;
}

.wdpsn-welcome-page__container__content .wdpsn-note-container p {
	font-size: 15px;
	margin: 0;
}

.wdpsn-welcome-page__container__sidebar {
	width: 350px;
	height: 500px;
}

.wdpsn-welcome-page__container__sidebar__widget {
	margin: 0 0 30px 0;
}

.wdpsn-welcome-page__container__sidebar__widget:not(.wdpsn-welcome-page__container__sidebar__widget--promo) {
	background: #f7f7f7;
	padding: 30px;
}

.wdpsn-welcome-page__container__sidebar__widget h3,
.wdpsn-welcome-page__container__sidebar__widget p {
	margin: 0 0 15px 0;
	padding: 0;
}

.wdpsn-welcome-page__container__sidebar__widget h3:last-child,
.wdpsn-welcome-page__container__sidebar__widget p:last-child {
	margin-bottom: 0;
}

.wdpsn-welcome-page__container__sidebar__widget h3 {
	font-size: 18px;
	font-weight: bold;
}

.wdpsn-welcome-page__container__sidebar__widget p {
	font-size: 15px;
}

.wdpsn-welcome-page__container__sidebar__widget .wdpsn-note-container {
	margin-bottom: 10px;
}

.wdpsn-welcome-page__container__sidebar__widget button[disabled]:hover {
	cursor: wait;
}

.wdpsn-welcome-page__container__sidebar__widget--promo {
	padding: 0 30px;
}

.wdpsn-welcome-page__container__sidebar__widget--promo img {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
}

.wdpsn-welcome-page__container__sidebar__widget--promo span {
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

body.post-type-wdpsn_note_types #poststuff .postbox:not(.wdpsn-post-notes-summary) .inside,
body.post-type-wdpsn_note_tag #poststuff .postbox:not(.wdpsn-post-notes-summary) .inside {
	padding: 0;
	margin: 0;
}

body.post-type-wdpsn_note_types #poststuff #normal-sortables,
body.post-type-wdpsn_note_tag #poststuff #normal-sortables {
	min-height: 0;
}

body.post-type-wdpsn_note_types #minor-publishing-actions,
body.post-type-wdpsn_note_tag #minor-publishing-actions {
	display: none;
}

body.post-type-wdpsn_note_types #misc-publishing-actions #visibility,
body.post-type-wdpsn_note_tag #misc-publishing-actions #visibility,
body.post-type-wdpsn_note_types #misc-publishing-actions .curtime,
body.post-type-wdpsn_note_tag #misc-publishing-actions .curtime {
	display: none;
}

.wdpsn-meta-box-single-field {
	font-size: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.wdpsn-meta-box-single-field,
.wdpsn-meta-box-single-field__description,
.wdpsn-meta-box-single-field__input {
	box-sizing: border-box;
}

.wdpsn-meta-box-single-field__description,
.wdpsn-meta-box-single-field__input {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	font-size: 13px;
	padding: 15px;
}

.wdpsn-meta-box-single-field__description {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	background: #f7f7f7;
	border-right: 1px solid #eee;
	width: 30%;
}

.wdpsn-meta-box-single-field__description h4,
.wdpsn-meta-box-single-field__description p {
	margin: 0;
	padding: 0;
}

.wdpsn-meta-box-single-field__description h4 {
	margin-bottom: 5px;
}

.wdpsn-meta-box-single-field__input {
	-webkit-justify-content: center;
	justify-content: center;
	width: 70%;
}

.wdpsn-meta-box-single-field__input__additional-description {
	border-top: 1px solid #eee;
	padding: 15px 0;
	margin-bottom: -15px;
	position: relative;
}

.wdpsn-meta-box-single-field__input__additional-description p {
	margin: 0;
	padding: 0;
}

.wdpsn-meta-box-single-field__input__additional-description p span {
	text-decoration: underline;
	cursor: pointer;
	color: #0185ba;
}

.wdpsn-meta-box-single-field__input__additional-description p span:hover {
	text-decoration: none;
}

.wdpsn-meta-box-single-field__input__additional-description__users-list {
	position: absolute;
	text-align: center;
	width: 300px;
	z-index: 9999;
	background: #313131;
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 5px 10px rgba(49,49,49,0.1);
	margin-top: 10px;
	display: none;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__additional-description__users-list {
	left: 0;
}

body.rtl .wdpsn-meta-box-single-field__input__additional-description__users-list {
	right: 0;
}

.wdpsn-meta-box-single-field__input__additional-description__users-list:before {
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #313131;
	position: absolute;
	content: '';
	top: -4px;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__additional-description__users-list:before {
	left: 15px;
}

body.rtl .wdpsn-meta-box-single-field__input__additional-description__users-list:before {
	right: 15px;
}

.wdpsn-meta-box-single-field__input__additional-description:hover .wdpsn-meta-box-single-field__input__additional-description__users-list {
	display: block;
}

.wdpsn-meta-box-single-field__input__yes-no + .wdpsn-meta-box-single-field__input__additional-description {
	margin-top: 15px;
}

.wdpsn-meta-box-single-field__input__rules + .wdpsn-meta-box-single-field__input__additional-description {
	margin-top: 20px;
}

.wdpsn-meta-box-single-field__input__yes-no {
	cursor: pointer;
	white-space: nowrap;
}

.wdpsn-meta-box-single-field__input__yes-no[data-value="yes"] > .wdpsn-meta-box-single-field__input__yes-no__no-text,
.wdpsn-meta-box-single-field__input__yes-no[data-value="no"] > .wdpsn-meta-box-single-field__input__yes-no__yes-text {
	display: none;
}

.wdpsn-meta-box-single-field__input__yes-no__handle,
.wdpsn-meta-box-single-field__input__yes-no[data-value="yes"] > .wdpsn-meta-box-single-field__input__yes-no__yes-text,
.wdpsn-meta-box-single-field__input__yes-no[data-value="no"] > .wdpsn-meta-box-single-field__input__yes-no__no-text {
	display: inline-block;
	vertical-align: middle;
}

.wdpsn-meta-box-single-field__input__yes-no__handle {
	position: relative;
	width: 50px;
	height: 30px;
	overflow: hidden;
	transition: background-color 0.2s, box-shadow 0.2s;
	border-radius: 15px;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__yes-no__handle {
	margin-right: 15px;
}

body.rtl .wdpsn-meta-box-single-field__input__yes-no__handle {
	margin-left: 15px;
}

.wdpsn-meta-box-single-field__input__yes-no__handle:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	top: 3px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 3px 10px rgba(49,49,49,0.1);
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	transition: left 0.2s;
}

body.rtl .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	transition: right 0.2s;
}

.wdpsn-meta-box-single-field__input__yes-no[data-value="yes"] > .wdpsn-meta-box-single-field__input__yes-no__handle {
	background: #0185ba;
	box-shadow: inset 0px 3px 10px #016d98;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__yes-no[data-value="yes"] > .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	left: 3px;
}

body.rtl .wdpsn-meta-box-single-field__input__yes-no[data-value="yes"] > .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	right: 3px;
}

.wdpsn-meta-box-single-field__input__yes-no[data-value="no"] > .wdpsn-meta-box-single-field__input__yes-no__handle {
	background: #f0f0f0;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__yes-no[data-value="no"] > .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	left: 22px;
}

body.rtl .wdpsn-meta-box-single-field__input__yes-no[data-value="no"] > .wdpsn-meta-box-single-field__input__yes-no__handle:before {
	right: 22px;
}

.wdpsn-meta-box-single-field__input__yes-no__yes-text,
.wdpsn-meta-box-single-field__input__yes-no__no-text {
	width: calc(100% - 65px);
	white-space: normal;
}

.wdpsn-meta-box-single-field__input__rules {
	margin-bottom: 5px;
}

.wdpsn-meta-box-single-field__input__rules h4 {
	margin: 0 0 15px 0;
}

.wdpsn-meta-box-single-field__input__rules__rows-groups__group,
.wdpsn-meta-box-single-field__input__rules__rows-groups__group__container {
	position: relative;
}

.wdpsn-meta-box-single-field__input__rules__row {
	margin-bottom: 15px;
	font-size: 0;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__row {
	padding-left: 30px;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__row {
	padding-right: 30px;
}

.wdpsn-meta-box-single-field__input__rules__row:after {
	content: '';
	display: block;
	clear: both;
}

.wdpsn-meta-box-single-field__input__rules__row__col {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
}

.wdpsn-meta-box-single-field__input__rules__row__col:not(:last-child) {
	width: calc(33% - 9px);
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__row__col:not(:last-child) {
	padding-right: 13px;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__row__col:not(:last-child) {
	padding-left: 13px;
}

.wdpsn-meta-box-single-field__input__rules__row__col:last-child {
	width: calc(33% + 20px);
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__row__col:last-child {
	padding-right: 42px;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__row__col:last-child {
	padding-left: 42px;
}

.wdpsn-meta-box-single-field__input__rules__row__remove {
	position: absolute;
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 26px;
	height: 26px;
	border: 1px solid #eee;
	color: #d9d9d9;
	top: 50%;
	margin-top: -13px;
	display: block;
	background: #fff;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 100%;
	transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__row__remove {
	right: 0;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__row__remove {
	left: 0;
}

.wdpsn-meta-box-single-field__input__rules__row__remove:hover {
	color: #de392d;
	background: #f9dad7;
	border-color: #f6c9c6;
}

.wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:before {
	content: '';
	position: absolute;
	width: 5px;
	height: calc(100% - 2px);
	top: 0;
	border: 1px solid #eee;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:before {
	left: 4px;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:before {
	right: 4px;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:after {
	content: '&';
	position: absolute;
	top: 50%;
	margin-top: -11px;
	padding: 2px 0;
	background: #fff;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:after {
	left: 0;
}

body.rtl .wdpsn-meta-box-single-field__input__rules__rows-groups__group--multiple > .wdpsn-meta-box-single-field__input__rules__rows-groups__group__container:after {
	right: 0;
}

.wdpsn-meta-box-single-field__input__rules__rows-groups__group:last-child > button {
	display: none;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__rules .wdpsn-meta-box-single-field__input__rules__buttons,
body:not(.rtl) .wdpsn-meta-box-single-field__input__rules .wdpsn-meta-box-single-field__input__rules__rows-groups__group > button {
	margin-left: 30px;
}

body.rtl .wdpsn-meta-box-single-field__input__rules .wdpsn-meta-box-single-field__input__rules__buttons,
body.rtl .wdpsn-meta-box-single-field__input__rules .wdpsn-meta-box-single-field__input__rules__rows-groups__group > button {
	margin-right: 30px;
}

.wdpsn-meta-box-single-field__input__rules .wdpsn-meta-box-single-field__input__rules__rows-groups > .wdpsn-meta-box-single-field__input__rules__rows-groups__group:first-child .wdpsn-meta-box-single-field__input__rules__row:first-child .wdpsn-meta-box-single-field__input__rules__row__remove {
	display: none;
}

.wdpsn-meta-box-single-field__input__tag-preview-container__hint {
	display: inline-block;
	color: #adadad;
}

body:not(.rtl) .wdpsn-meta-box-single-field__input__tag-preview-container__hint {
	margin-left: 10px;
}

body.rtl .wdpsn-meta-box-single-field__input__tag-preview-container__hint {
	margin-right: 10px;
}

.wdpsn-meta-box-single-field__input__tag-preview-container__hint--hidden {
	display: none;
}

.wdpsn-meta-box-single-field--dependency-hidden {
	display: none;
}

.wdpsn-meta-box-single-field:not(:last-child) + .wdpsn-meta-box-single-field:not(.wdpsn-meta-box-single-field--dependency-hidden) {
	border-top: 1px solid #eee;
}

.wdpsn-meta-box-single-field select {
	padding: 5px;
	margin: 0;
	line-height: 36px;
	height: 36px;
	width: 100%;
	display: block;
}
